<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtian.system.dao.SysUserRoleDao">

	<select id="selectByUserId" resultType="SysUserRole" parameterType="String">
        select
        id, 
        user_id AS userId, 
        role_id AS roleId
        from sys_user_role
        where user_id = #{userId}
    </select>

    <select id="selectRoleIdListByUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select 
        role_id AS roleId
        from sys_user_role
        where user_id = #{userId}
    </select>
</mapper>
