<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtian.enquire.dao.EnquireTaskDao">

    <select id="enquireTaskList" parameterType="com.hengtian.common.param.TaskQueryParam"
            resultType="com.hengtian.enquire.model.EnquireTask">
        SELECT tet.*
        FROM t_enquire_task tet
        WHERE tet.is_ask_end = 0 AND tet.create_id = #{userId}
    </select>

    <select id="enquiredTaskList" parameterType="com.hengtian.common.param.TaskQueryParam"
            resultType="com.hengtian.enquire.model.EnquireTask">
        SELECT tet.*
        FROM t_enquire_task tet
        WHERE tet.is_ask_end = 0 AND tet.ask_user_id = #{userId}
    </select>
</mapper>
