<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtian.flow.dao.WorkflowDao">
    <resultMap id="taskResultMap" type="com.hengtian.flow.model.TaskResult">
        <result column="taskId" property="taskId" jdbcType="VARCHAR"/>
        <result column="taskName" property="taskName" jdbcType="VARCHAR"/>
        <result column="taskState" property="taskState" jdbcType="VARCHAR"/>
        <result column="assignee" property="assignee" jdbcType="VARCHAR"/>
        <result column="assigneeBefore" property="assigneeBefore" jdbcType="VARCHAR"/>
        <result column="assigneeNext" property="assigneeNext" jdbcType="VARCHAR"/>
        <result column="assigneeDelegate" property="assigneeDelegate" jdbcType="VARCHAR"/>
        <result column="creatorCode" property="creatorCode" jdbcType="VARCHAR"/>
        <result column="creatorName" property="creatorName" jdbcType="VARCHAR"/>
        <result column="creatorDeptCode" property="creatorDeptCode" jdbcType="VARCHAR"/>
        <result column="processInstanceId" property="processInstanceId" jdbcType="VARCHAR"/>
        <result column="processInstanceTitle" property="processInstanceTitle" jdbcType="VARCHAR"/>
        <result column="processDefinitionName" property="processDefinitionName" jdbcType="VARCHAR"/>
        <result column="processInstanceState" property="processInstanceState" jdbcType="VARCHAR"/>
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="processInstanceResultMap" type="com.hengtian.flow.model.ProcessInstanceResult">
        <result column="processInstanceId" property="processInstanceId" jdbcType="VARCHAR"/>
        <result column="processInstanceName" property="processInstanceName" jdbcType="VARCHAR"/>
        <result column="processDefinitionName" property="processDefinitionName" jdbcType="VARCHAR"/>
        <result column="processInstanceState" property="processInstanceState" jdbcType="VARCHAR"/>
        <result column="assignee" property="assignee" jdbcType="VARCHAR"/>
        <result column="processDefinitionId" property="processDefinitionId" jdbcType="VARCHAR"/>
        <result column="taskDefinitionName" property="taskDefinitionName" jdbcType="VARCHAR"/>
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="taskResult">
        DISTINCT art.ID_ AS taskId,
        art.NAME_ AS taskName,
        #{assignee} AS assignee,
        NULL AS assigneeBefore,
        NULL AS assigneeNext,
        trt.OWNER AS assigneeDelegate,
        trp.CREATOR AS creatorCode,
        trp.CREATOR_NAME AS creatorName,
        trp.CREATOR_DEPT AS creatorDeptCode,
        trp.CREATOR_DEPT_NAME AS creatorDeptName,
        trp.CURRENT_TASK_STATUS AS taskState,
        ahp.ID_ AS processInstanceId,
        ahp.NAME_ AS processInstanceTitle,
        ahp.PROC_DEF_ID_ AS processDefinitionId,
        ahp.BUSINESS_KEY_ AS businessKey,
        trp.PROC_DEF_NAME AS processDefinitionName,
        trp.PROC_INST_STATE AS processInstanceState,
    </sql>

    <sql id="queryCondition">
        <!--任务编号-->
        <if test="taskId != null and taskId != ''">
            AND art.ID_ = #{taskId}
        </if>

        <!--流程实例编号-->
        <if test="procInstId != null and procInstId != ''">
            AND ahp.ID_ = #{procInstId}
        </if>

        <!--任务标题-->
        <if test="title != null and title != ''">
            AND ahp.NAME_ LIKE CONCAT('%',#{title},'%')
        </if>

        <!--流程实例状态-->
        <if test="procInstState != null and procInstState !=''">
            AND trp.proc_inst_state = #{procInstState}
        </if>

        <!--流程名称-->
        <if test="procDefName != null and procDefName != ''">
            AND trp.PROC_DEF_NAME = #{procDefName}
        </if>

        <!--发起人-->
        <if test="creator != null and creator !=''">
            AND trp.CREATOR = #{creator}
        </if>

        <!--发起人部门-->
        <if test="creatorDept != null and creatorDept != ''">
            AND trp.CREATOR_DEPT = #{creatorDept}
        </if>

        <!--当前节点-->
        <if test="taskName != null and taskName != ''">
            AND art.NAME_ LIKE CONCAT('%',#{taskName},'%')
        </if>

        <!--创建日期（从）-->
        <if test="createTimeStart != null">
            AND art.CREATE_TIME_ &gt;= #{createTimeStart}
        </if>

        <!--创建日期（到）-->
        <if test="createTimeEnd != null">
            AND art.CREATE_TIME_ &lt;= #{createTimeEnd}
        </if>
    </sql>

    <!--我的待办任务（待审批和待签收）-->
    <select id="queryActiveTask" resultMap="taskResultMap">
        SELECT
            <include refid="taskResult"/>
            art.CREATE_TIME_ AS startTime,
            art.CREATE_TIME_ AS endTime
        FROM
            act_ru_task AS art LEFT JOIN t_ru_task AS trt ON art.ID_ =trt.TASK_ID
            LEFT JOIN act_hi_procinst AS ahp ON art.PROC_INST_ID_=ahp.PROC_INST_ID_
            LEFT JOIN t_ru_procinst AS trp ON art.PROC_INST_ID_=trp.PROC_INST_ID
        WHERE
            trp.APP_KEY = #{appKey} AND art.SUSPENSION_STATE_=1
            AND ((trt.ASSIGNEE_REAL LIKE CONCAT('%',#{assignee},'%')) OR (trt.ASSIGNEE_TYPE = 2 AND trt.ASSIGNEE IN(#{roleId})))
        ORDER BY endTime DESC
    </select>

    <!--我的历史任务-->
    <select id="queryCloseTask" resultMap="taskResultMap">
        SELECT
            <include refid="taskResult"/>
            art.START_TIME_ AS startTime,
            art.END_TIME_ AS endTime
        FROM
            act_hi_taskinst AS art LEFT JOIN t_ru_task AS trt ON art.ID_ =trt.TASK_ID
            LEFT JOIN act_hi_procinst AS ahp ON art.PROC_INST_ID_=ahp.PROC_INST_ID_
            LEFT JOIN t_ru_procinst AS trp ON art.PROC_INST_ID_=trp.PROC_INST_ID
        WHERE
            trp.APP_KEY = #{appKey} AND art.ASSIGNEE_ LIKE CONCAT('%',CONCAT(#{assignee},#{taskState}),'%')
            <include refid="queryCondition"/>
        ORDER BY endTime DESC
    </select>

    <!--我的待审批任务及被意见征询任务-->
    <select id="queryOpenTask" resultMap="taskResultMap">
        <if test="taskState != 2">
            SELECT
                <include refid="taskResult"/>
                art.CREATE_TIME_ AS startTime,
                art.CREATE_TIME_ AS endTime,
                0 AS asked,
                NULL AS askId
            FROM
                act_ru_task AS art LEFT JOIN t_ru_task AS trt ON art.ID_ =trt.TASK_ID
                LEFT JOIN act_hi_procinst AS ahp ON art.PROC_INST_ID_=ahp.PROC_INST_ID_
                LEFT JOIN t_ru_procinst AS trp ON art.PROC_INST_ID_=trp.PROC_INST_ID
            WHERE
                trp.APP_KEY = #{appKey} AND (trt.ASSIGNEE_REAL LIKE CONCAT('%',#{assignee},'%') OR (trt.ASSIGNEE_TYPE = 2
                <if test="roleId != null">
                    AND trt.ASSIGNEE IN (${roleId})
                </if>
                ))
            AND art.SUSPENSION_STATE_=1
                <include refid="queryCondition"/>
        </if>
        <if test="taskState == null || taskState==''">
            UNION
        </if>
        <if test="taskState != 1">
            SELECT
                aht.ID_ AS taskId,
                aht.NAME_ AS taskName,
                #{assignee} AS assignee,
                NULL AS assigneeBefore,
                NULL AS assigneeNext,
                trt.OWNER AS assigneeDelegate,
                trp.CREATOR AS creatorCode,
                trp.CREATOR_NAME AS creatorNeme,
                trp.CREATOR_DEPT AS creatorDeptCode,
                trp.CREATOR_DEPT_NAME AS creatorDeptNeme,
                trp.CURRENT_TASK_STATUS AS taskState,
                ahp.ID_ AS processInstanceId,
                ahp.NAME_ AS processInstanceTitle,
                ahp.PROC_DEF_ID_ AS processDefinitionId,
                ahp.BUSINESS_KEY_ AS businessKey,
                trp.PROC_DEF_NAME AS processDefinitionName,
                trp.PROC_INST_STATE AS processInstanceState,
                aht.START_TIME_ AS startTime,
                aht.END_TIME_ AS endTime,
                1 as asked,
                tat.id as askId
            FROM
                act_hi_taskinst AS aht LEFT JOIN t_ru_task AS trt ON aht.ID_ =trt.TASK_ID
                LEFT JOIN act_hi_procinst AS ahp ON aht.PROC_INST_ID_=ahp.PROC_INST_ID_
                LEFT JOIN t_ru_procinst AS trp ON aht.PROC_INST_ID_=trp.PROC_INST_ID
                LEFT JOIN t_ask_task tat on tat.proc_inst_id=ahp.PROC_INST_ID_
            WHERE
                trp.APP_KEY = #{appKey} AND tat.asked_user_id=#{assignee} AND tat.is_ask_end=0 and tat.id IS NOT NULL AND
                aht.END_TIME_ IS NOT NULL
        </if>
        ORDER BY endTime DESC
    </select>

    <!--我的待签收任务-->
    <select id="queryClaimTask" resultMap="taskResultMap">
        SELECT
            <include refid="taskResult"/>
            art.CREATE_TIME_ AS startTime,
            art.CREATE_TIME_ AS endTime
        FROM
            act_ru_task AS art LEFT JOIN t_ru_task AS trt ON art.ID_ =trt.TASK_ID
            LEFT JOIN act_hi_procinst AS ahp ON art.PROC_INST_ID_=ahp.PROC_INST_ID_
            LEFT JOIN t_ru_procinst AS trp ON art.PROC_INST_ID_=trp.PROC_INST_ID
        WHERE
            trp.APP_KEY = #{appKey} AND trt.ASSIGNEE_TYPE = 2 AND trt.ASSIGNEE IN (${roleId})
            AND art.SUSPENSION_STATE_=1
            <include refid="queryCondition"/>
    </select>

    <select id="queryProcessInstance" resultMap="processInstanceResultMap">
        SELECT
            ahp.ID_ AS processInstanceId,
            ahp.NAME_ AS processInstanceName,
            ahp.BUSINESS_KEY_ AS businessKey,
            trp.PROC_INST_STATE AS processInstanceState,
            trp.PROC_DEF_NAME AS processDefinitionName,
            trp.APP_KEY AS appKey,
            ahp.START_TIME_ AS startTime,
            ahp.END_TIME_ AS endTime,
            ahp.proc_def_id_ as processDefinitionId
        FROM
            act_hi_procinst AS ahp LEFT JOIN t_ru_procinst AS trp ON ahp.ID_ = trp.PROC_INST_ID
        WHERE
            1=1
            <if test="appKey != null and appKey != ''">
                AND trp.APP_KEY = #{appKey}
            </if>
            <if test="creator != null and creator != ''">
                AND trp.CREATOR = #{creator}
            </if>
            <if test="processInstanceId != null and processInstanceId != ''">
                AND ahp.ID_ = #{processInstancetId}
            </if>
            <if test="processInstanceState != null">
                AND trp.PROC_INST_STATE = #{processInstanceState}
            </if>
            <if test="processInstanceName != null and processInstanceName != ''">
                AND ahp.NAME_ LIKE CONCAT('%',#{processInstanceName},'%')
            </if>
            <if test="processDefinitionName != null and processDefinitionName != ''">
                AND trp.PROC_DEF_NAME LIKE CONCAT('%',#{processDefinitionName},'%')
            </if>
            <if test="startTimeFrom != null">
                AND ahp.START_TIME_ &gt;= #{startTimeFrom}
            </if>
            <if test="startTimeSTo != null">
                AND ahp.START_TIME_ &lt;= #{startTimeSTo}
            </if>
            <if test="endTimeFrom != null">
                AND ahp.END_TIME_ &gt;= #{endTimeFrom}
            </if>
            <if test="endTimeTo != null">
                AND ahp.END_TIME_ &lt;= #{endTimeTo}
            </if>
        ORDER BY endTime DESC
    </select>

    <!--代办任务数量-->
    <select id="activeTaskCount" parameterType="com.hengtian.common.param.TaskQueryParam" resultType="Long">
        SELECT
          COUNT(*)
        FROM
            act_ru_task AS art LEFT JOIN t_ru_task AS trt ON art.ID_ =trt.TASK_ID
            LEFT JOIN act_hi_procinst AS ahp ON art.PROC_INST_ID_=ahp.PROC_INST_ID_
            LEFT JOIN t_ru_procinst AS trp ON art.PROC_INST_ID_=trp.PROC_INST_ID
        WHERE
            trp.APP_KEY = #{appKey}
            AND ((trt.ASSIGNEE_REAL LIKE CONCAT('%',#{assignee},'%')) OR (trt.ASSIGNEE_TYPE = 2 AND trt.ASSIGNEE IN
            (${roleId})))
            AND art.SUSPENSION_STATE_=1
            <include refid="queryCondition"/>
    </select>
</mapper>
