<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						 http://code.alibabatech.com/schema/dubbo
						  http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<!--<dubbo:application name="${dubbo.application.name}" />-->

	<!-- 使用zookeeper注册中心暴露服务地址 即zookeeper的所在服务器ip地址和端口号 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" check="false" />
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<!--<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />-->

<bean id="workTaskServiceImpl" class="com.activiti.service.impl.WorkTaskServiceImpl"></bean>
	<dubbo:service interface="com.activiti.service.WorkTaskService" ref="workTaskServiceImpl" version="1.0.0" timeout="20000"></dubbo:service>

	<bean id="workTaskServiceV2Impl" class="com.activiti.service.impl.WorkTaskV2ServiceImpl"></bean>
	<dubbo:service interface="com.activiti.service.WorkTaskV2Service" ref="workTaskServiceV2Impl" version="1.0.0" timeout="20000"></dubbo:service>
</beans>
