<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtian.flow.dao.TTaskButtonDao">

    <select id="selectTaskButtons" parameterType="com.hengtian.common.param.TaskParam" resultType="com.hengtian.flow.model.TButton">
         select tb.name, tb.button_key buttonKey from t_button tb left JOIN t_task_button tt ON tb.button_key=tt.button_key where tt.proc_def_key=#{procDefKey} and tt.task_def_key=#{taskDefKey}
    </select>
</mapper>
