<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chtwm.workflow.mapper.message.XiaoKeMessageProjectMapper" >

    <resultMap id="TaskNoiceMap" type="com.chtwm.workflow.entity.TaskNoicePO">
        <id column="id" property="id" javaType="bigint"/>
        <result column="proc_inst_id" property="procInstId" javaType="varchar"/>
        <result column="proc_inst_name" property="procInstName" javaType="varchar"/>
        <result column="app_key" property="appKey" javaType="varchar"/>
        <result column="business_key" property="businessKey" javaType="varchar"/>
        <result column="task_id" property="taskId" javaType="varchar"/>
        <result column="task_name" property="taskName" javaType="varchar"/>
        <result column="emp_no" property="empNo" javaType="varchar"/>
        <result column="emp_name" property="empName" javaType="varchar"/>
        <result column="type" property="type" javaType="tinyint"/>
        <result column="state" property="state" javaType="tinyint"/>
        <result column="action" property="action" javaType="tinyint"/>
        <result column="message" property="message" javaType="varchar"/>
        <result column="fxiaoke_notice_state" property="xkNoticeState" javaType="tinyint"/>
        <result column="create_time" property="createTime" javaType="timestamp"/>
        <result column="create_id" property="createId" javaType="varchar"/>
        <result column="create_name" property="createName" javaType="varchar"/>
        <result column="update_time" property="updateTime" javaType="timestamp"/>
        <result column="update_id" property="updateId" javaType="varchar"/>
        <result column="update_name" property="updateName" javaType="varchar"/>
        <result column="is_delete" property="isDelete" javaType="tinyint"/>
    </resultMap>

    <!--查询所有未通知和通知失败的信息-->
    <select id="getAllUnSetMessage" resultMap="TaskNoiceMap">
        SELECT id ,proc_inst_id,proc_inst_name,app_key,business_key,task_id,task_name,emp_no,
            emp_name,'TYPE',state,'ACTION',message,fxiaoke_notice_state,create_time,create_id,
            create_name,update_time,update_id,update_name
        FROM t_task_notice
        WHERE is_delete = 0 AND fxiaoke_notice_state = 0 OR fxiaoke_notice_state = 2
    </select>

    <!--根据主键更新纷享销客的信息通知状态-->
    <update id="updateThisMessageNoticeState">
        UPDATE t_task_notice SET fxiaoke_notice_state = #{noticeState} where id = #{id}
    </update>

</mapper>